*{
  font-family: sans-serif;
  box-sizing: border-box;
}
/*div {border: thin dotted red;}*/
html {
  background-image: url(https://64.media.tumblr.com/11e84df7fbae81b1bf710da6372b3dd8/tumblr_o8pytoBvp91qhttpto5_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.menu ul{
  display: inline-flex;
  margin: 50px;
}
.menu ul li{
  list-style: none;
  margin: 0 1.5vw;
  cursor: pointer;
  font-size: 1vw
}
a:link{
  color: #c93333;
  text-decoration: none;
}
a:visited{
  color: #c93333;
  text-decoration: none;
}
a:hover{
  color: #8b0000;
  font-weight: bold;
}
.logo img{
  width: 5.5vw;
  margin-top: -1vw;
  margin-right: 2vw;
  margin-left: -4vw;
}
.column2 {
  float: right;
  width: 40%;
  padding-right: 2.7vw;
}
.column {
  float: right;
  width: 60%;
  padding-left: 2.5vw;
  padding-right: 2vw;
}
}
.main h1{
  color: #c93333;
  font-size: 3vw;
  margin-bottom: 1vw;
  margin-top: -1vw;
  margin-left: 2.5vw;
}
.main ul{
  color: black;
  font-size: 1vw;
  margin-left: -1vw;
}
