*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
div {border: thin dotted red;}
html {
  background-image: url('https://dg.imgix.net/receive-the-holy-spirit-6ktm37jv-en/landscape/receive-the-holy-spirit-6ktm37jv-55780588ff5244e453c841dc40fc5898.jpg?ts=1581024652&ixlib=rails-4.1.0&auto=format%2Ccompress&fit=min&w=700&h=394&dpr=2&ch=Width%2CDPR');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%
}
.menu ul{
  display: inline-flex;
  margin: 50px;
}
.menu ul li{
  list-style: none;
  margin: 0 1.5vw;
  color: #74a0ae;
  cursor: pointer;
  font-size: 1vw
  /*border: 1px solid red;*/
}
.logo img{
  width: 3.5vw;
  margin-top: -1vw;
  margin-right: 2vw;
  margin-left: -1vw;
}
.active{
  color: #384f56 !important;
}
.main{
  top: 8vw;
  left: 4.2vw;
  position: absolute;
}
.main-text{
  width: 50%;
  float: left;
  left: 4.2vw;
  margin-top: -9vw
}
.main-text h1{
  color: #52b1e7;
  font-size: 3vw;
  margin-bottom: 1vw
}
.main-text ul{
  color: #756f6f;
  font-size: 1vw;
  margin-left: 1vw;
}
.main-text p{
  color: #756f6f;
  font-size: 1vw;
  margin-left: 1vw;
}
.main-text h3{
  color: #52b1e7;
  font-size: 1.5vw;
  margin-left: 0vw;
}
.main img{
  width: 32vw;
  height: auto;
  margin-left: 55vw
}
