*{
  font-family: sans-serif;
  box-sizing: border-box;
}
/*div {border: thin dotted red;}*/
html {
  background-image: url('https://dg.imgix.net/receive-the-holy-spirit-6ktm37jv-en/landscape/receive-the-holy-spirit-6ktm37jv-55780588ff5244e453c841dc40fc5898.jpg?ts=1581024652&ixlib=rails-4.1.0&auto=format%2Ccompress&fit=min&w=700&h=394&dpr=2&ch=Width%2CDPR');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
.menu ul{
  display: inline-flex;
  margin: 50px;
}
.menu ul li{
  list-style: none;
  margin: 0 1.5vw;
  cursor: pointer;
  font-size: 1vw
}
a:link{
  color: #74a0ae;
  text-decoration: none;
}
a:visited{
  color: #74a0ae;
  text-decoration: none;
}
a:hover{
  color: #384f56;
  font-weight: bold;
}
.logo img{
  width: 3.5vw;
  margin-top: -1vw;
  margin-right: 2vw;
  margin-left: -4vw;
}
.column {
  float: left;
  width: 40%;
  padding-left: 50px;
}
.column2 {
  float: left;
  width: 60%;
  padding-top: 15px;
  padding-left: 5vw;
  padding-right: 5vw;
}
.main h1{
  color: #7fb8d6;
  font-size: 3vw;
  margin-bottom: 1vw;
  margin-top: 6vw;
}
.main ul{
  color: #756f6f;
  font-size: 1.3vw;
  margin-left: -0.5vw
}
